@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, "Noto Sans";
}

@media print {
  .page-break {
    page-break-inside: avoid;
    page-break-after: auto;
  }
  .page-break-always {
    page-break-before: always;
  }
}

.hover_underline:hover {
  text-decoration: underline;
}
